@model JobSeeker.Models.Dto.RegistrationDto
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_LayoutCompanyAccount.cshtml";
}
<div class="row">
  <div class="col-md-8">
      @if (@ViewBag.Message!=null)
        {
            if (@ViewBag.Message == ResultStatus.Success)
            {
                <div class="text-success">Photo uploaded successfully. </div>
            }
            if (@ViewBag.Message == ResultStatus.Failed)
            {
                <div class="text-danger errorColor">Photo does not upload successfully.. Try again.</div>
            }
            if (@ViewBag.Message == ResultStatus.IsNull)
            {
                <div class="text-danger errorColor">Please select profile image.</div>
            }            
            if (@ViewBag.Message == ResultStatus.InvalidFileType)
            {
                <div class="text-danger errorColor">Only .jpeg/.jpe/png file allowed!</div>
            }
            if (@ViewBag.Message == ResultStatus.MaxExceedFileSize)
            {
                <div class="text-danger errorColor">File size must not exceed 1MB!</div>
            }
        }
     <div class="form-group">
@using (Html.BeginForm("ProfileImage", "CompanyAccount", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    <div class="text-center">
        <h1 class="font-weight-bold">Upload File</h1>       
        <input type="file" name="formFile" />
        <input type="submit" value="Upload" />
    </div>
}
   </div>
 </div>
</div>


