@model JobSeeker.Models.Dto.JobDto
@{
	ViewData["Title"] = "JobDetail";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="/newdesign/css/style.css">
<link rel="stylesheet" href="/newdesign/css/colors/green.css" id="colors">
<!-- Titlebar
================================================== -->

<div class="container">

	<!-- Recent Jobs -->
	<div class="eleven columns">
		<div class="padding-right">

			<!-- Company Info -->
			<div class="company-info">
				<img src="/newdesign/images/company-logo.png" alt="">
				<div class="content">
					<h4>@Model.CompanyName</h4>
					<span><a href="#"><i class="fa fa-link"></i> @Model.Website</a></span>
					<span><a href="#"><i class="fa fa-email"></i> @Model.Email</a></span>
				</div>
				<div class="clearfix"></div>
			</div>

			<p class="margin-reset">
				<h3>About Company</h3>
				@Model.AboutCompany
			</p>

			<br>
			
			<br>

			<h4 class="margin-bottom-10">Job Requirment</h4>

			<ul class="list-1">
				<li>@Model.JobDescription</li>				
			</ul>

		</div>
	</div>


	<!-- Widgets -->
	<div class="five columns">

		<!-- Sort by -->
		<div class="widget">
			<h4>Overview</h4>

			<div class="job-overview">

				<ul>
					<li>
						<i class="fa fa-map-marker"></i>
						<div>
							<strong>Location:</strong>
							<span>@Model.Location</span>
						</div>
					</li>
					<li>
						<i class="fa fa-user"></i>
						<div>
							<strong>Job Title:</strong>
							<span>@Model.JobTitle</span>
						</div>
					</li>
					<li>
						<i class="fa fa-clock-o"></i>
						<div>
							<strong>Experience:</strong>
							<span>@Model.Experience</span>
						</div>
					</li>
					<li>
						<i class="fa fa-money"></i>
						<div>
							<strong>Budget/Salary:</strong>
							<span>Rs @Model.Salary / Year</span>
						</div>
					</li>
				</ul>


				<a href="#small-dialog" class="popup-with-zoom-anim button">Apply For This Job</a>

				<div id="small-dialog" class="zoom-anim-dialog mfp-hide apply-popup">
					<div class="small-dialog-headline">
						<h2>Apply For This Job</h2>
					</div>

					<div class="small-dialog-content">
						<form action="#" method="get">
							<input type="text" placeholder="Full Name" value="" />
							<input type="text" placeholder="Email Address" value="" />
							<textarea placeholder="Your message / cover letter sent to the employer"></textarea>

							<!-- Upload CV -->
							<div class="upload-info"><strong>Upload your CV (optional)</strong> <span>Max. file size: 5MB</span></div>
							<div class="clearfix"></div>

							<label class="upload-btn">
								<input type="file" multiple />
								<i class="fa fa-upload"></i> Browse
							</label>
							<span class="fake-input">No file selected</span>

							<div class="divider"></div>

							<button class="send">Send Application</button>
						</form>
					</div>

				</div>

			</div>

		</div>

	</div>
	<!-- Widgets / End -->

</div>



<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- Scripts
    ================================================== -->
<script src="/newdesign/scripts/jquery-2.1.3.min.js"></script>
    <script src="/newdesign/scripts/custom.js"></script>
    <script src="/newdesign/scripts/jquery.superfish.js"></script>
    <script src="/newdesign/scripts/jquery.themepunch.tools.min.js"></script>
    <script src="/newdesign/scripts/jquery.themepunch.revolution.min.js"></script>
    <script src="/newdesign/scripts/jquery.themepunch.showbizpro.min.js"></script>
    <script src="/newdesign/scripts/jquery.flexslider-min.js"></script>
    <script src="/newdesign/scripts/chosen.jquery.min.js"></script>
    <script src="/newdesign/scripts/jquery.magnific-popup.min.js"></script>
    <script src="/newdesign/scripts/waypoints.min.js"></script>
    <script src="/newdesign/scripts/jquery.counterup.min.js"></script>
    <script src="/newdesign/scripts/jquery.jpanelmenu.js"></script>
    <script src="/newdesign/scripts/stacktable.js"></script>
    <script src="/newdesign/scripts/headroom.min.js"></script>


    <!-- Style Switcher
    ================================================== -->
<script src="/newdesign/scripts/switcher.js"></script>