@model JobSeeker.Models.Dto.RegistrationDto

@{
    ViewData["Title"] = "Create";
}

<h3>Job Seeker User Registration Form</h3>
<hr />

<div class="row">
    <div class="col-md-8">
        @if (@ViewBag.Message != null)
        {
            if (@ViewBag.Message == ResultStatus.Success)
            {
                <div class="text-success">You are register successfully </div>
            }
            if (@ViewBag.Message == ResultStatus.Failed)
            {
                <div class="text-danger">Registration Failed. Try again.</div>
            }
            if (@ViewBag.Message == ResultStatus.AlreadyExit)
            {
                <div class="text-danger">This Email address already registered with us. Try with another email address</div>
            }
        }
        <form asp-action="Registration">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @foreach (var type in Model.UserTypes)
                {
                    <input asp-for="UserType" value="@type.Type" type="radio" />
                    <label asp-for="@type.Id" class="control-label">@type.Type</label>
                    <input asp-for="@type.Id" type="hidden" />
                    <span asp-validation-for="UserType" class="text-danger"></span>
                }
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" type="password" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>


            <div class="form-group divpaddingregister">
                <input type="submit" value="Register" class="btn btn-success" />
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
