@model IEnumerable<JobSeeker.Models.Dto.JobDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdminAccount.cshtml";
}

<div class="container">


<h3>Job List</h3>

<p style="margin-left:88%;">
    <a asp-action="Create" class="btn btn-sm btn-success">Create New</a>
</p>
<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.JobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobType)
            </th>
          
            
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
         
            <th>
                @Html.DisplayNameFor(model => model.JobDescription)
            </th>
                  
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.JobTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>           
            <td>
                @Html.DisplayFor(modelItem => item.JobTags)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
        
            <td>
                @Html.DisplayFor(modelItem => item.JobDescription)
            </td>            
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning" style="font-size: 10px!important;">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info" style="font-size: 10px!important;">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger" style="font-size: 10px!important;">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>